.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1F2937; /* Background color for the enclosed container */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%; /* Adjusted width */
  height: 100px; /* Adjusted height */
  padding: 10px 20px; /* Adjusted padding */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid #ccc;
}

.card-image {
  width: 80px; /* Adjusted width */
  height: 80px; /* Adjusted height */
  object-fit: cover;
  border-radius: 6px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 20px;
}

.card-button {
  padding: 10px 20px;
  background-color: #1F2937;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-card-button {
  padding: 10px 20px;
  background-color: #1F2937;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
